params {
    audio_folder    = "."
    text_folder     = "."
    audio_extension = ".wav"
    text_extension  = ".txt"
    audio_output    = "population_audio_metrics.csv"
    text_output     = "population_text_metrics.csv"
    uhmometer {
        preprocessing          = "None"              // choices: "None", "Band pass (300..3300 Hz)", "Reduce noise"
        silence_threshold      = -25.0               // unit: dB
        minimum_dip_near_peak  = 2.0                 // unit: dB
        minimum_pause_duration = 0.3                 // unit: s
        detect_filled_pauses   = "no"                // choices: "yes", "no"
        language               = "English"           // choices: "English", "Dutch"
        filled_pause_threshold =  1.00               // cut-off higher/lower
        data                   = "Praat Info window" // choices: "TextGrid(s) only", "Praat Info window", "Save as text file", "Table"
        data_collection_type   = "OverWriteData"     // choices: "OverWriteData", "AppendData"
        keep_objects           = "yes"               // when_processing_files, choices: choices: "yes", "no"
        output                 = "population_uhmometer_metrics.csv"
    }
}

profiles {

    unf_elm {
        apptainer.autoMounts = true
        apptainer.enabled = true
        apptainer.runOptions = "-B /data"
        executor.cpus = 20
        process.container = "file:///data/brambati/local/containers/lingualab/speechmetryflow_0.0.5.sif"
        workDir = "/scratch/$USER/speechmetryflow/work"
    }

}
