apptainer.enabled       = true
apptainer.autoMounts    = true
process.container       = "file:///${params.container_dir}/lingualabpy_v0.0.6.sif"

process {
    withName: "LINGUALAB_TEXT" {
        container               = "file:///${params.container_dir}/speechmetryflow_dev.sif"
    }
}

process {
    withName: "WHISPER" {
        container               = "file:///${params.container_dir}/whisperx_v3.7.4_cpu.sif"
        params.whisper_model_dir = "/usr/local/share/faster-whisper"
    }
}

process {
    withName: "UHMOMETER" {
        container               = "file:///${params.container_dir}/praat_v6.4.47.sif"
    }
}

process {
    withName: "OPENSMILE" {
        container               = "file:///${params.container_dir}/opensmile_v2.6.0.sif"
    }
}